In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv(r"Top Indian Places to Visit.csv")
df.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [3]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

df.columns.tolist()

['unnamed:_0',
 'zone',
 'state',
 'city',
 'name',
 'type',
 'establishment_year',
 'time_needed_to_visit_in_hrs',
 'google_review_rating',
 'entrance_fee_in_inr',
 'airport_with_50km_radius',
 'weekly_off',
 'significance',
 'dslr_allowed',
 'number_of_google_review_in_lakhs',
 'best_time_to_visit']

In [4]:
CITY_COL = "city"
STATE_COL = "state"
LAT_COL = "latitude"       
LON_COL = "longitude"      
RATING_COL = "google_review_rating"
POPULARITY_COL = "number_of_google_review_in_lakhs"

In [5]:
df = df.dropna(subset=[CITY_COL, STATE_COL, RATING_COL, POPULARITY_COL])
df.reset_index(drop=True, inplace=True)

df.head()

,unnamed:_0,zone,state,city,name,type,establishment_year,time_needed_to_visit_in_hrs,google_review_rating,entrance_fee_in_inr,airport_with_50km_radius,weekly_off,significance,dslr_allowed,number_of_google_review_in_lakhs,best_time_to_visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [6]:
def distance_score_proxy(source_row, target_row):
    if source_row[CITY_COL] == target_row[CITY_COL]:
        return 0
    
    if source_row[STATE_COL] == target_row[STATE_COL]:
        return 1.0   
    
    if source_row["zone"] == target_row["zone"]:
        return 0.6   
    
    return 0.3

In [7]:
def recommend_destinations(source_city, top_n=5):
    source_city = source_city.strip().lower()
    
    if source_city not in df[CITY_COL].str.lower().values:
        return f"Source city '{source_city}' not found in dataset."
    
    source = df[df[CITY_COL].str.lower() == source_city].iloc[0]
    recs = df.copy()
    
    
    recs["distance_score"] = recs.apply(
        lambda row: distance_score_proxy(source, row),
        axis=1
    )
    
    
    recs = recs[recs[CITY_COL].str.lower() != source_city]
    
    
    recs["rating_score"] = recs[RATING_COL] / recs[RATING_COL].max()
    recs["popularity_score"] = recs[POPULARITY_COL] / recs[POPULARITY_COL].max()
    
   
    recs["final_score"] = (
        0.4 * recs["distance_score"] +
        0.4 * recs["rating_score"] +
        0.2 * recs["popularity_score"]
    )
    
    return recs.sort_values(
        by="final_score", ascending=False
    ).head(top_n)[[
        "name", CITY_COL, STATE_COL,
        RATING_COL, POPULARITY_COL, "final_score"
    ]]

In [8]:
recommend_destinations("Mumbai")

,name,city,state,google_review_rating,number_of_google_review_in_lakhs,final_score
130,Mahalakshmi Temple,Kolhapur,Maharastra,4.8,0.90,0.816161
126,Sai Baba Temple,Shirdi,Maharastra,4.7,0.69,0.802322
123,Shaniwar Wada,Pune,Maharastra,4.4,1.20,0.791616
128,Ganapatipule Temple,Ratnagiri,Maharastra,4.7,0.10,0.786376
124,Ajanta Caves,Aurangabad,Maharastra,4.6,0.21,0.781186

In [9]:
recommend_destinations("Bengaluru")

,name,city,state,google_review_rating,number_of_google_review_in_lakhs,final_score
111,Mysore Palace,Mysore,Karnataka,4.6,2.50,0.843078
31,ISKCON Temple Bangalore,Bangalore,Karnataka,4.6,1.14,0.806321
28,Lalbagh Botanical Garden,Bangalore,Karnataka,4.4,1.50,0.799724
30,Vidhana Soudha,Bangalore,Karnataka,4.6,0.80,0.797132
119,Murudeshwar Temple,Murudeshwar,Karnataka,4.7,0.49,0.796917

In [10]:
recommend_destinations("Delhi")

,name,city,state,google_review_rating,number_of_google_review_in_lakhs,final_score
305,Gurudwara Bangla Sahib,New Delhi,Delhi,4.8,1.05,0.820215
313,Jama Masjid,New Delhi,Delhi,4.5,0.49,0.780590
318,Rail Museum,New Delhi,Delhi,4.4,0.24,0.765670
315,Buddh International Circuit,Greater Noida,Uttar Pradesh,4.6,7.40,0.695510
92,Golden Temple (Harmandir Sahib),Amritsar,Punjab,4.9,1.90,0.691351

In [11]:
# Approximate distance matrix between major cities (in KM)
CITY_DISTANCE_MAP = {
    ("Bangalore", "Mysore"): 145,
    ("Bangalore", "Coorg"): 252,
    ("Bangalore", "Ooty"): 270,
    ("Delhi", "Agra"): 233,
    ("Delhi", "Jaipur"): 281,
    ("Mumbai", "Pune"): 149,
    ("Mumbai", "Lonavala"): 83,
}

def get_distance(source, destination):
    if source == destination:
        return 0
    return CITY_DISTANCE_MAP.get(
        (source, destination),
        CITY_DISTANCE_MAP.get((destination, source), 300)  # default distance
    )

In [12]:
def add_distance_column(df, source_city):
    df["distance_km"] = df["city"].apply(
        lambda x: get_distance(source_city, x)
    )
    return df

In [13]:
def normalize_column(series):
    return (series - series.min()) / (series.max() - series.min())

In [14]:
def calculate_score(df):
    df["norm_rating"] = normalize_column(df["google_review_rating"])
    df["norm_popularity"] = normalize_column(df["number_of_google_review_in_lakhs"])
    df["norm_distance"] = normalize_column(df["distance_km"])

    df["score"] = (
        df["norm_rating"] * 0.5 +
        df["norm_popularity"] * 0.3 -
        df["norm_distance"] * 0.2
    )
    return df

In [15]:
def recommend_weekend_getaways(df, source_city, top_n=5):
    temp_df = df.copy()

    temp_df = add_distance_column(temp_df, source_city)
    temp_df = calculate_score(temp_df)

    recommendations = (
        temp_df[temp_df["city"].str.lower() != source_city.lower()]
        .sort_values("score", ascending=False)
        .head(top_n)
    )

    return recommendations[
        ["city", "state", "distance_km",
         "google_review_rating", "number_of_google_review_in_lakhs", "score"]
    ]

In [16]:
recommend_weekend_getaways(df, "Bangalore")

,city,state,distance_km,google_review_rating,number_of_google_review_in_lakhs,score
315,Greater Noida,Uttar Pradesh,300,4.6,7.4,0.557143
111,Mysore,Karnataka,145,4.6,2.5,0.461559
17,Mumbai,Maharastra,300,4.6,3.6,0.402880
92,Amritsar,Punjab,300,4.9,1.9,0.376725
306,Kedarnath,Uttarakhand,300,4.8,2.0,0.366499

In [17]:
recommend_weekend_getaways(df, "Delhi")

,city,state,distance_km,google_review_rating,number_of_google_review_in_lakhs,score
315,Greater Noida,Uttar Pradesh,300,4.6,7.40,0.557143
17,Mumbai,Maharastra,300,4.6,3.60,0.402880
181,Agra,Uttar Pradesh,233,4.6,2.25,0.392743
92,Amritsar,Punjab,300,4.9,1.90,0.376725
306,Kedarnath,Uttarakhand,300,4.8,2.00,0.366499

In [18]:
recommend_weekend_getaways(df, "Mumbai")

,city,state,distance_km,google_review_rating,number_of_google_review_in_lakhs,score
315,Greater Noida,Uttar Pradesh,300,4.6,7.40,0.557143
131,Lonavala,Maharastra,83,4.4,0.27,0.383793
123,Pune,Maharastra,149,4.4,1.20,0.377547
92,Amritsar,Punjab,300,4.9,1.90,0.376725
306,Kedarnath,Uttarakhand,300,4.8,2.00,0.366499